ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 0.5rem 1rem;
  padding: 1rem;
}

li > a {
  text-decoration: none;
  color: #756a6aff;
  &:hover {
    color: #60a3faff;
    border-bottom: 2px dotted #ccc;
  }
}
